<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>		<!--title is a helper, can't write @title-->
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>	<!--built-in Rails helper stylesheet_link_tag-->
		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
